@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

body {
    word-break: break-all;
}
.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3,
    p {
        margin: 0;
        word-wrap: break-word;
    }
}
.precio {
    color: $azul;
    font-weight: $bold;
    font-size: 3rem;
}
